/* VERSHACÉ by Veronica Sihombing
 * General/Utility Styles
*/

* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.navbar-brand {
  font-size: 1.5rem;
  color: orange;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-brand:hover {
  color: orange;
}

.search {
  height: 35px;
  width: 80%;
  border-radius: 60px;
  outline: lightgoldenrodyellow;
  border: 2px solid lightgoldenrodyellow;
}

.img-fluid  {
  max-width: 100%;
  height: auto;
} 

.btn0 {
  height: 35px;
  width: 30%;
  outline: lightgoldenrodyellow;
  border: solid lightgoldenrodyellow;
  background: white;
  color: orange;
  border-radius: 60px;
  font-weight: 700;
}
.btn1 {
  height: 35px;
  width: 20%;
  outline: lightgoldenrodyellow;
  border: solid lightgoldenrodyellow;
  background: white;
  color: orange;
  border-radius: 60px;
  font-weight: 700;
}
body {
  min-height: auto;
}
.jumbotron {
  margin-top: 100px;
}

.jumbotron2 {
  padding-top: 2rem;
  background-color: #ffdab9;
}
.jumbotron2 .display-4  {
  margin-top: 20px;
}

.row1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ffdab9;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 1250px;
  max-height: 800px;
}
.footer {
  background-color: #ffdab9;
}

.main {
  background-color: #ffdab9;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.main h1 {
  font-size: 4rem;
  font-weight: 700;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.custom-card {
  height: 200px;
  justify-content: center;
}

.portfolio-block img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.portfolio-block .zoom-on-hover:hover img {
  transform: scale(1.1);
}
 .portfolio-block .container  {
  margin-top: 80px;
 }

.custom-card .card-title {
  margin-bottom: 10px;
  margin-top: 20px;
}
.custom-card .card-text {
  margin-bottom: 20px;
  font-size: 8;
  font-weight: lighter;
}
