.navbar-brand {
  font-size: 1.5rem;
  color: orange;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-brand:hover {
  color: orange;
}

.search {
  height: 35px;
  width: 80%;
  border-radius: 60px;
  outline: lightgoldenrodyellow;
  border: 2px solid lightgoldenrodyellow;
}
.btn0 {
  height: 35px;
  width: 30%;
  outline: lightgoldenrodyellow;
  border: solid lightgoldenrodyellow;
  background: white;
  color: orange;
  border-radius: 60px;
  font-weight: 700;
}
.btn1 {
  height: 35px;
  width: 20%;
  outline: lightgoldenrodyellow;
  border: solid lightgoldenrodyellow;
  background: white;
  color: orange;
  border-radius: 60px;
  font-weight: 700;
}
.jumbotron {
  padding-top: 2rem;
  background-color: #ffdab9;
}
.row1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #ffdab9;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 1250px;
  max-height: 800px;
}
.footer {
  background-color: #ffdab9;
}

.main {
  background-color: #ffdab9;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.main h1 {
  font-size: 4rem;
  font-weight: 700;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
